*.gch
*.gch/
*.o
*.lo
*.la
*.a
*.so
*.so.*
*.dll
*.exe
.mv
.libs/
.deps/
build/
build32/
build_*/
AppDir/
AppDir_v2/
models_test/
squashfs-root/
*.AppImage
Makefile
CMakeCache.txt
CMakeFiles/
*.log
src/qt_gui/ltr_gui.gch/
install_manifest.txt
cmake_install.cmake
